---
import LogoWall from '@components/LogoWall.astro';
import SectionHead from '@components/SectionHead.astro';
---

<section
    class="section section--tint"
    aria-labelledby="press-title"
>
    <div class="container">
        <SectionHead
            eyebrow="Press &amp; media &mdash; 2025"
            headingId="press-title"
        >
            As seen &amp; heard
        </SectionHead>
        <LogoWall placeholders={['logo', 'logo', 'logo', 'logo']} />
    </div>
</section>
